In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame(
    {
        "id" : [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
        "a" : [11,64,1,44,2,76,73,30,15,64,36,21,14,57,68,46,79,90,19,27],
        "b": [11,45,90,42,11,27,1,78,1,49,80,70,86,50,21,1,64,38,74,38],
        "c": [3,62,58,11,8,89,61,78,42,46,60,2,76,75,80,78,74,0,65,51],
        "class":['B','B','B','B','B','B','B','B','B','B','B','B','B','B','B','A','A','A','A','A']
    }
)
df.head()

   id   a   b   c class
0   1  11  11   3     B
1   2  64  45  62     B
2   3   1  90  58     B
3   4  44  42  11     B
4   5   2  11   8     B

In [8]:
x = df.drop("class", axis=1)
y = df["class"]

In [9]:
print(y.value_counts())

class
B    15
A     5
Name: count, dtype: int64

In [10]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(sampling_strategy="not majority")
x_res, y_res = ros.fit_resample(x,y)

In [14]:
y_res.value_counts()

class
B    15
A    15
Name: count, dtype: int64

In [12]:
x_res[15:]

    id   a   b   c
15  16  46   1  78
16  17  79  64  74
17  18  90  38   0
18  19  19  74  65
19  20  27  38  51
20  20  27  38  51
21  19  19  74  65
22  20  27  38  51
23  20  27  38  51
24  17  79  64  74
25  20  27  38  51
26  16  46   1  78
27  19  19  74  65
28  16  46   1  78
29  16  46   1  78

In [13]:
print("Before oversampling ===================================")
print(x.describe())
print("After oversampling ===================================")
print(x_res.describe())

Before oversampling ===================================
             id          a          b          c
count  20.00000  20.000000  20.000000  20.000000
mean   10.50000  41.850000  43.850000  50.950000
std     5.91608  27.917689  29.902077  29.807232
min     1.00000   1.000000   1.000000   0.000000
25%     5.75000  18.000000  18.500000  34.250000
50%    10.50000  40.000000  43.500000  60.500000
75%    15.25000  65.000000  71.000000  75.250000
max    20.00000  90.000000  90.000000  89.000000
After oversampling ===================================
              id          a          b          c
count  30.000000  30.000000  30.000000  30.000000
mean   13.100000  40.000000  41.466667  55.366667
std     6.160777  24.957896  29.176908  25.875675
min     1.000000   1.000000   1.000000   0.000000
25%     8.250000  19.500000  13.500000  51.000000
50%    15.500000  33.000000  38.000000  61.500000
75%    18.750000  62.250000  68.500000  75.750000
max    20.000000  90.000000  90.000000  89.000000